html {
  position: relative;
  height: 100%;
  font-family: verdana;
  font-size: 1rem;
}

body {
  background-attachment: fixed;
  background-color: #fff;
  background-image: url('../img/bg2.jpg');
  //min-height: 500px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: sans;
}

h1 {
  font-size: 1.4rem;
}

div {
  text-align: center;
  color: #f4f4f4;
  font-size: 140%;

  &.contact {
    text-align: justify;
    color: #f4f4f4;
    font-size: 90%;
  }
}

.site-header {
  margin-bottom: 2rem;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.roster-header {
  text-align: center;
}

.roster {
  margin: auto;
  border-top: 3px solid #f4f4f4;
  border-bottom: 3px solid #f4f4f4;
  background: rgba(0, 0, 0, .5);
}

.rostercontact {
  border-top: 0;
  border-bottom: 2px solid #f4f4f4;
  width: 550px;
}

.contact-roster {
  border-bottom: 2px solid #f4f4f4;
  padding-right: 20px;
  padding-left: 20px;
  color: #f4f4f4;
  font-size: 110%;
}

th {

  &.rostera,
  &.rosterb,
  &.rosterc,
  &.rosterd {
    border-bottom: 2px solid #f4f4f4;
    padding-right: 20px;
    padding-left: 20px;
    color: #f4f4f4;
    font-size: 110%;
  }

  &.rostera {
    text-align: center;
  }

  &.rosterb {
    text-align: left;
  }

  &.rosterc {
    text-align: center;
  }

  &.rosterd {
    text-align: right;
  }

  &.roster1 {
    border-bottom: 1px solid #808080;
    padding-right: 20px;
    padding-left: 20px;
    color: #808080;
    font-size: 110%;
  }
}

td {

  &.roster,
  &.rostera,
  &.rosterb,
  &.rosterc,
  &.rosterd {
    padding-right: 20px;
    padding-left: 20px;
    color: #f4f4f4;
    font-size: 100%;
  }

  &.rostera {
    text-align: center;
  }

  &.rosterb {
    text-align: left;
  }

  &.rosterc {
    text-align: center;
  }

  &.rosterd {
    text-align: right;
  }
}

.screenshots-header {
  background-color: rgba(0, 0, 0, .6);
}

.component-screenshot {
  position: relative;
  margin: 1rem auto;
  max-width: 40rem;
  text-align: center;

  img {
    max-width: 100%;
  }

  .container {
    display: none;

    .show {
      display: block;
    }
  }

  .select-buttons {
    position: absolute;
    bottom: 1rem;
    border: 0;
    background: none;
    color: #f4f4f4;

    .active {
      color: #2355b0;
    }
  }
}
